# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [42]:
import os
import glob
import psycopg2

import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 user=postgres password=nubank")
conn.set_session(autocommit=True)
cur = conn.cursor()

In [3]:
cur.execute("DROP DATABASE IF EXISTS nubank")
cur.execute("CREATE DATABASE nubank WITH ENCODING 'utf8' TEMPLATE template0")

# close connection to default database
conn.close()    
    

conn = psycopg2.connect("host=127.0.0.1 dbname=nubank user=postgres password=nubank")
cur = conn.cursor()

ObjectInUse: database "nubank" is being accessed by other users
DETAIL:  There are 3 other sessions using the database.

In [43]:
conn = psycopg2.connect("host=127.0.0.1 dbname=nubank user=postgres password=nubank")
cur = conn.cursor()

In [44]:
for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [7]:
#VERIFY THE DB TABLES
cur.execute("select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';")
print(cur.fetchall())

[('fact_movements_table',), ('costumers_table',), ('d_week_table',), ('accounts_table',), ('city_table',), ('customers_table',), ('country_table',), ('d_month_table',), ('d_time_table',), ('d_weekday_table',), ('d_year_table',), ('pix_movements_table',), ('state_table',), ('transfer_ins_table',), ('transfer_outs_table',)]

In [45]:
def insert_function(data, query):
        for i, row in data.iterrows():
                cur.execute(query, list(row))
        conn.commit()

# Process table data
In this first part, you'll perform ETL on the tables

### Insert data in accounts_table

In [46]:
accounts_df = pd.read_csv("./tables/tables/accounts_table.csv")
insert_function(accounts_df, accounts_table_insert)

### Insert data in city_table

In [47]:
city_df = pd.read_csv("./tables/tables/city_table.csv")
city_df = city_df[['city_id','city','state_id']]
insert_function(city_df, city_table_insert)

### Insert data in customers_table

In [48]:
customers_df = pd.read_csv("./tables/tables/customers_table.csv")
customers_df.head()
insert_function(customers_df, customers_table_insert)

### Insert data in country_table

In [49]:
country_df = pd.read_csv("./tables/tables/country_table.csv")
country_df = country_df[["country_id", "country"]]
insert_function(country_df, country_table_insert)

### Insert data in d_month_table

In [50]:
d_month_table_df = pd.read_csv("./tables/tables/d_month_table.csv")
insert_function(d_month_table_df, d_month_table_insert)

### Insert data in d_time_table

In [51]:
d_time_table_df = pd.read_csv("./tables/tables/d_time_table.csv")
tmp_df = "./tables/tables/tmp.csv"
d_time_table_df.to_csv(tmp_df,index=False , header=False)
f = open(tmp_df, 'r')
cur.copy_from(f, "d_time_table", sep=",")
conn.commit()

### Insert data in d_week_table

In [52]:
d_week_table_df = pd.read_csv("./tables/tables/d_week_table.csv")
insert_function(d_week_table_df, d_week_table_insert)

### Insert data in d_weekday_table

In [53]:
d_weekday_table_df = pd.read_csv("./tables/tables/d_weekday_table.csv")
insert_function(d_weekday_table_df, d_weekday_table_insert)

### Insert data in d_year_table

In [54]:
d_year_table_df = pd.read_csv("./tables/tables/d_year_table.csv")
insert_function(d_year_table_df, d_year_table_insert)

### Insert data in state_table

In [55]:
state_table_df = pd.read_csv("./tables/tables/state_table.csv")
state_table_df = state_table_df[["state_id", "state", "country_id"]]
insert_function(state_table_df, state_table_insert)

### Insert data in pix_movements_table

In [56]:
pix_movements_table_df = pd.read_csv("./tables/tables/pix_movements_table.csv")
tmp_df = "./tables/tables/tmp.csv"
pix_movements_table_df.to_csv(tmp_df,index=False , header=False)
f = open(tmp_df, 'r')
cur.copy_from(f, "pix_movements_table", sep=",")
conn.commit()

### Insert data in transfer_ins_table

In [57]:
transfer_ins_table_df = pd.read_csv("./tables/tables/transfer_ins_table.csv")
tmp_df = "./tables/tables/tmp.csv"
transfer_ins_table_df.to_csv(tmp_df,index=False , header=False)
f = open(tmp_df, 'r')
cur.copy_from(f, "transfer_ins_table", sep=",")
conn.commit()

### Insert data in transfer_outs_table

In [58]:
transfer_outs_table_df = pd.read_csv("./tables/tables/transfer_outs_table.csv")
tmp_df = "./tables/tables/tmp.csv"
transfer_outs_table_df.to_csv(tmp_df,index=False , header=False)
f = open(tmp_df, 'r')
cur.copy_from(f, "transfer_outs_table", sep=",")
conn.commit()

### Insert data in fact_movements_table

In [59]:

from_pix_df = pix_movements_table_df.join(accounts_df.set_index('account_id'), on='account_id',rsuffix="p_")
from_in_df = transfer_ins_table_df.join(accounts_df.set_index('account_id'), on='account_id',rsuffix="in_")
from_out_df = transfer_outs_table_df.join(accounts_df.set_index('account_id'), on='account_id',rsuffix="out_")

In [60]:
from_pix_df["in_or_out"].replace({"pix_out": "out", "pix_in": "in"}, inplace=True)
from_pix_df.insert(3,'type', 'pix')
from_pix_df = from_pix_df[['id', 'account_id','customer_id','in_or_out','type' , 'pix_amount','pix_requested_at','pix_completed_at','status' ]]
from_pix_df = from_pix_df.rename(columns={'pix_amount': 'amount', 'pix_requested_at': 'transaction_requested_at', 'pix_completed_at': 'transaction_completed_at'})
from_in_df.insert(3,'in_or_out', 'in')
from_out_df.insert(3,'in_or_out', 'out')
from_in_df.insert(3,'type', 'transfer_in')
from_out_df.insert(3,'type', 'transfer_out')

from_in_df = from_in_df[['id', 'account_id','customer_id','in_or_out','type' , 'amount','transaction_requested_at','transaction_completed_at','status' ]]
from_out_df = from_out_df[['id', 'account_id','customer_id','in_or_out','type' , 'amount','transaction_requested_at','transaction_completed_at','status' ]]

In [61]:
fact_movements_table = from_pix_df.append([from_in_df, from_out_df])

In [62]:
tmp_df = "./tables/tables/tmp.csv"
fact_movements_table.to_csv(tmp_df,index=False , header=False)
f = open(tmp_df, 'r')
cur.copy_from(f, "fact_movements_table", sep=",")
conn.commit()

### Insert data in the dim_time_table

In [64]:
dim_time_df = d_time_table_df.join(d_year_table_df.set_index('year_id'), on='year_id',rsuffix="y_")

In [ ]:
dim_time_df.head()

### Close connection

In [9]:
conn.close()

# Answering the questions:

## 1. Create a SQL query to help Jane retrieving the monthly balance of all accounts (this query should be made using the warehouse structure before the changes you propose on 2.)

Your colleague Jane Hopper, the analyst in charge of analysing customer behaviour, who directly
consumes data from the Data Warehouse Environment, needs to get all the account's monthly
balances between Jan/2020 and Dec/2020. She wasn't able to do it alone, and asked for your help.
Add to your resolution the SQL query used to retrieve the data needed (the necessary tables in csv
format were sent along with this pdf, on folder tables/). Feel free to use the dialect of your choice,
but please specify the SQL engine.

## Resolution:

### Developing the query to Account Monthly Balance

The original table schema has three tables that contain movements in the costumers accounts, so in order to help Jane I need to put it all together and create the expected columns in the figure bellow.

![](./images/balance_table.jpg)

Note: In the image above the column costumer is present, but Jane want to know the account balance so to do this the account_id column will be used insteade customer column.


1. Using the `UNION ALL` combined with `SELECT` the result put all the data contained in the tables together appending it.
2. We need to create the columns with INs and OUTs, in the pix transactions we have to distinct between the IN and OUT movements, where I used `CASE` to make this distinction using the column `in_or_out` present in the pix table:


```sql 
        CASE in_or_out WHEN 'pix_out' then pix_amount ELSE 0 END as SAIDA,
        CASE in_or_out WHEN  'pix_in' then pix_amount ELSE 0 END as ENTRADA
``` 
In the tables of usual transactions(non pix) the distinction was not necessary, because each table contains one specific kind of transaction, so I returned the amount in the column that represents the kind of transaction and 0(zero) in the other column, like above:

In table:
```sql
        SELECT account_id,
        0 AS SAIDA, 
        amount as ENTRADA,
```

Out table:
```sql
        SELECT account_id,
        amount as SAIDA,
        0 AS ENTRADA,
```

3. To get the mounth column, first I converted the data to timestamp that contains the date when the transaction was completed and after with `DATE_PART` specifing month as my part of interest, I got the month:

```sql
        DATE_PART('month', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) MES
```

4. The `WHERE` clause is filtering the transactions that were completed and occured between JAN/2020 and DEC/2020:

```sql
        WHERE (status = 'completed') AND (DATE_PART('year', to_timestamp(CAST(pix_completed_at as numeric)/1000))  = 2020)
```

5. With the data returned in the subquery `transactions` is necessary to sum all the In and all the Out movements separately grouping then by account_id and month, after the monthly balance is a result of the Ins minus Outs for each month and account. All this columns were rounded with two decimal places that is enough when we talk about monetary values.


Select statement:
```sql
        SELECT CAST(mes AS INT), account_id,
        ROUND(CAST(sum(entrada) AS NUMERIC),2) AS entradas_total,
        ROUND(CAST(SUM(saida) AS NUMERIC),2) as saidas_total,
        ROUND(CAST((sum(entrada) - SUM(saida))AS NUMERIC),2) as balanco

```

Group by and Order by statement:

```sql
        GROUP BY mes, account_id
        ORDER BY account_id, mes

```

### Importing the `create_engine` from `sqlalchemy` to create the connection to our Postgres database.

In [1]:
import time

from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://postgres:nubank@127.0.0.1/nubank')

### Using the `pd.read_sql` and the previous created `engine` to execute our SQL query and create a pandas dataframe with the result.

In [11]:
start = time.time()
balance = pd.read_sql('''
SELECT CAST(mes AS INT), 
account_id,
ROUND(CAST(sum(entrada) AS NUMERIC),2) AS entradas_total,
ROUND(CAST(SUM(saida) AS NUMERIC),2) as saidas_total,
ROUND(CAST((sum(entrada) - SUM(saida))AS NUMERIC),2) as balanco
FROM (  SELECT account_id, 
        CASE in_or_out WHEN 'pix_out' then pix_amount ELSE 0 END as SAIDA, 
        CASE in_or_out WHEN  'pix_in' then pix_amount ELSE 0 END as ENTRADA,
        DATE_PART('month', to_timestamp(CAST(pix_completed_at as numeric)/1000)) AS MES
        FROM pix_movements_table
        WHERE (status = 'completed') AND (DATE_PART('year', to_timestamp(CAST(pix_completed_at as numeric)/1000))  = 2020)

        UNION ALL

        SELECT account_id,
        0 AS SAIDA, 
        amount as ENTRADA,
        DATE_PART('month', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) AS MES
        FROM transfer_ins_table
        WHERE (status = 'completed') AND (DATE_PART('year', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) = 2020)

        UNION ALL

        SELECT account_id,
        amount as SAIDA,
        0 AS ENTRADA,
        DATE_PART('month', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) AS MES
        FROM transfer_outs_table
        WHERE (status = 'completed') AND (DATE_PART('year', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) = 2020)) as transactions
GROUP BY mes, account_id
ORDER BY mes, account_id

''', engine)
end = time.time()
print("Time to query execution: ",end - start)

Time to query execution:  1.1054751873016357

### Looking into the `balance` dataframe to see the result of our query

In [12]:
balance.head(20)

    mes         account_id  entradas_total  saidas_total  balanco
0     1   2569200459575096         6622.15       1826.30  4795.85
1     1   2572645138169593         3314.38       1467.31  1847.07
2     1   2969674447809961         9013.62       3569.48  5444.14
3     1   5756422114496119         2926.91       2170.55   756.36
4     1   5763135580788529         6460.05      11030.11 -4570.06
5     1   6731171884115662         9660.82       5316.85  4343.97
6     1   6754575908057409         5780.74          0.00  5780.74
7     1   6759884497455352         4308.37       1542.19  2766.18
8     1   7106839639082916         3062.88       1402.65  1660.23
9     1   7399497589386025         1319.22          0.00  1319.22
10    1   8390860978077109         7559.18      17064.75 -9505.57
11    1   9682140161583058         6125.78      11087.89 -4962.11
12    1  11972044772734216         4480.96        759.50  3721.46
13    1  14823956517654278        11269.08       4940.66  6328.42
14    1  14960923507500004         2365.23       4424.75 -2059.52
15    1  16488801170250194         1382.95          0.00  1382.95
16    1  17010643349938116         1446.35       1812.93  -366.58
17    1  17352812883658752         8757.83      13354.52 -4596.69
18    1  18661351842096488         1148.46       5642.76 -4494.30
19    1  21312345113145264        10272.73       2697.03  7575.70

## 2. Improve the data warehouse architecture and justify your changes

Imagine now that you could remodel the data warehouse environment freely, keeping in mind that
Nubank is always evolving with new products (Whatsapp Payments, PIX, phone recharge, etc) and it
is also expanding to new countries, so our data warehouse needs to accommodate all these
incoming changes. Which modifications would you propose and why? Remember to consider that
other analysts will be using the same structure, so it should be as clear as possible. Feel free to
change, remove or add tables/fields to generate a better database design

## Resolution:

To do this remodeling in the data warehouse is necessary first to answer the question: **What are the fundamental goals of the data warehousing ?** So let`s talk about this.

**A few bussiness analysts big problems:**

- We have data, but we can`t access it.
- We need access the data easily,
- We need the right numbers to make the right decisions.

**Based on this problems the main goals to build a data warehouse could be:**

- Make the data easily accessible.
- Show consistently information.
- Need to be adaptable to changes.
- Fast data aquisition.
- Trustworthy data.
- Data security.

After this small introduction is expected that the more important aspects of a data warehouse are cleared. If not we can make it simple: We need to provide the data contained in the tables as clearly, easily and with the fastest performance as possible. To do this I will use the **Dimensional modeling** that is a very used technique for presenting analytic data.

### Dimensional Modeling

Dimensional modeling is used to make tha data arrangement simple, we need it simple to the users can easily understand the data, it needs to be friendly user, the dimensional models are diferent from the realtional or 3NF(third normal form) where the focus is in remove data redundances.

To make this remodeling I will use A **Star Schema** model, where we have a **fact table** connected to **dimensional tables**. This is the name because it can remember you a star, like in the image bellow.

![](./images/star.jpg)

This kind of schema was choiced by me because of its simplicity during the modeling and due its format the querys are smaller than in another models making it easy to access the data contained in the tables.


### Fact table

The fact table is responsable for storage the events occured in the bussiness process, in this case our fact table will store all the transactions ocurred in the accounts, including pix transactions. The field type was included in the new table, this field is responsable to store the transaction method that the user used execute the transaction, in this case it could be pix and standard transfers, but like in the file provided for nubank it can suporte another kind of methods, like whatsapp, phone recharge and others. The field in or out was included to make the distinction between the transactions that were made to the account(money arriving) or from the account(money leaving). The customer_id was included to make the connection with the costumer dimension table. In the image bellow we can see the result of our fact table.

![](./images/fact_table.jpg)


### Dimensional tables

The dimensional tables are responsable for the descriptive concept, it contains the textual data needed to describe the event occured in the process. Each dimensional table is connected with the fact table using a primary key. In our case are necessary three dimensional tables that describe the transaction process, the table with customers informations, the table with accounts information and the table with time information. I believe that with this three table we can describe the transaction process very clearly and easier than before.

**Customer dimensional table:** In this table all the data related the customer is stored.

![](./images/dim_customer.jpg)

**Accounts dimensional table:** This table have all the data related the accounts. It was not changed.

![](./images/dim_accounts.jpg)

**Time dimensional table:** In this table is the data responsable for describe the time, like year, month, day etc.

![](./images/dim_time.jpg)

### Final schema

Puting all the described tables above together with the respectives conections between fact and dimension tables we can see how simple the schema has become. A connection between accounts table and customers table was necessary in order to return the data related from customer and his account.


![](./images/final_schema.jpg)


Note: Part of the definitions used to make this data modeling were based on the book [The Data Warehouse Toolkit: The Definitive Guide to Dimensional Modeling](https://www.oreilly.com/library/view/the-data-warehouse/9781118530801/)

### Comparing performance

Using the Jane`s case where she wants to get the balance from the accounts, with the old data warehouse schema the query used is performed in approximately 1 second, with the new schema the new query was performed in approximately 0,66 second. With this we reduced the time to execute the query in 34%, in a big volume os transactions this reduction becomes very significant.

In [19]:
start = time.time()
balance_new = pd.read_sql('''SELECT mes, account_id, SUM(ENTRADA) AS entradas_total, SUM(SAIDA) AS saidas_total, (SUM(ENTRADA)-SUM(SAIDA)) as balanco
                                FROM (SELECT account_id, 
                                        CASE in_or_out WHEN 'out' then amount ELSE 0 END as SAIDA, 
                                        CASE in_or_out WHEN  'in' then amount ELSE 0 END as ENTRADA,
                                        DATE_PART('month', to_timestamp(CAST(completed_at as numeric)/1000)) MES
                                        FROM fact_movements_table
                                        WHERE (status = 'completed') AND (DATE_PART('year', to_timestamp(CAST(completed_at as numeric)/1000)) = 2020)) AS transactions
                            GROUP BY mes, account_id
                            ORDER BY mes, account_id


''', engine)
end = time.time()
print("Time to query execution: ",end - start)

Time to query execution:  0.6868879795074463

In [20]:
balance_new.head(20)

    mes         account_id  entradas_total  saidas_total  balanco
0   1.0   2569200459575096         6622.15       1826.30  4795.85
1   1.0   2572645138169593         3314.38       1467.31  1847.07
2   1.0   2969674447809961         9013.62       3569.48  5444.14
3   1.0   5756422114496119         2926.91       2170.55   756.36
4   1.0   5763135580788529         6460.05      11030.11 -4570.06
5   1.0   6731171884115662         9660.82       5316.85  4343.97
6   1.0   6754575908057409         5780.74          0.00  5780.74
7   1.0   6759884497455352         4308.37       1542.19  2766.18
8   1.0   7106839639082916         3062.88       1402.65  1660.23
9   1.0   7399497589386025         1319.22          0.00  1319.22
10  1.0   8390860978077109         7559.18      17064.75 -9505.57
11  1.0   9682140161583058         6125.78      11087.89 -4962.11
12  1.0  11972044772734216         4480.96        759.50  3721.46
13  1.0  14823956517654278        11269.08       4940.66  6328.42
14  1.0  14960923507500004         2365.23       4424.75 -2059.52
15  1.0  16488801170250194         1382.95          0.00  1382.95
16  1.0  17010643349938116         1446.35       1812.93  -366.58
17  1.0  17352812883658752         8757.83      13354.52 -4596.69
18  1.0  18661351842096488         1148.46       5642.76 -4494.30
19  1.0  21312345113145264        10272.73       2697.03  7575.70

## 3. Come up with a strategy to implement the warehouse changes you proposed

In order to change our data warehouse above with your suggestions, we need to come up with a
migration plan since many people are consuming data from it. Which strategy would you propose
in order to implement those changes?


### Resolution:

When talking about data migration, I believe that there are two main approachs to do this, the **Big Bang data migration** and **Trickle data migration**. There are a few differences between this two methods, so is very important to define the right choise to our migration project.

**Big bang data migration:** Is a method where you move all the data in one operation with a limited window of time. The data stays down while the ETL process is happening.

Advantages: Spend less time, less costly and less complex.

Disavantages: Requires downtime of your data, risk of expensive failure.

**Trickle data migration:** 

Advantages: Less susceptible to big failures, no data down time.

Disavantages: More expensive, need more time to be implemented.


Considering that the data transactions is very important to our bussiness analysts and we can`t have down time on this, a most aceptable choice is use the **Trickle data migration** approach.

Using a kind of agile projects management method to make this data migration we can define five main steps:

1. Initiation

2. Planning

3. Execution

4. Performance/Monitoring

5. Project close


**1. Initiation**

In this first step we need to mark the beginning of the project, make the macro desicions, define the stakeholders and show then the project, impacts and why this project is happening. In our case we need to warn the bussiness analysts and the other interested areas about the changes and the impacts.

**2. Planning**

Here we need to define the scope and document it, define the derivables, project`s timeline and the budget. Thinking about data migration is necessary to define the data standards to avoid problems in the next steps and

**3. Execution**

This stage is where the outputs are made, here we have to deliver what was defined in the past stages of the project. In a data migration the possible outputs to this fase are the data audition, the data quality verification, data backup to keep our data safe from possible errors, the migration of the data using an ETL process.The tests are present during the execution stage, in the Trickle data migration is necessary make tests in each portion of migrated data to avoid or fiz possible problems.

**4. Performance/Monitoring**

During this stage is necessary to do meassurements about the performance of the new data warehouse, is important to have KPIs(key performance indicators) to compare how good the things are going. A data audition is very important in this stage, this could be an confirmation by the bussiness analysts about the right migration of the data.

## 4. Propose metrics to track PIX performance and its impact on Nubank. Feel free to come up with any metrics you consider relevant

Jane's friend, Pepino, wants to know how well PIX is doing inside Nubank. For that, he wants your
help to come up with indicators that can be used to track the performance of the product. Which
metrics would you suggest to track it and why?

### Resolution

**What is PIX ? What is its purpose ?**

Accordingly with [Central Bank of Brazil](https://www.bcb.gov.br/estabilidadefinanceira/pix), PIX is a instant payment method, where the transaction is completed in a few seconds, any time of the day.

Trying to help Pepino and looking in the pix definition we can define our first metric. PIX sohuld be a instant transaction, so let`s see how many time the completed transactions are spending between the request and its completion.

In [39]:
start = time.time()
time_new = pd.read_sql('''SELECT *
                                FROM fact_movements_table AS f
                                JOIN d_time_table AS t ON t.time_id = CAST(f.requested_at AS bigint) AND t.time_id = CAST(f.completed_at AS NUMERIC)
                                WHERE f.status = 'completed'
                                


''', engine)
end = time.time()
print("Time to query execution: ",end - start)

Time to query execution:  0.36342310905456543

In [40]:
time_new.head()

,id,account_id,customer_id,in_or_out,type,amount,requested_at,completed_at,status,time_id,action_timestamp,week_id,month_id,year_id,weekday_id
0,2337816270461275648,285954202652059168,2764997088848309760,in,pix,130.37,1594892787980,1594892787980.0,completed,1594892787980,2020-07-16 09:46:27.980,102428196,3549,1024140,1521
1,1572011189238133760,2582312454490957824,960422580921375360,in,pix,772.61,1578158343570,1578158343570.0,completed,1578158343570,2020-01-04 17:19:03.570,102414000,507,1024140,2535
2,140652736007160848,1193234806014966272,1334445880917911808,in,pix,1956.72,1596428182020,1596428182020.0,completed,1596428182020,2020-08-03 04:16:22.020,102429717,4056,1024140,0
3,945569752989672960,1540994009165377536,2289202895067939840,in,pix,1875.35,1607314786290,1607314786290.0,completed,1607314786290,2020-12-07 04:19:46.290,102438843,6084,1024140,0
4,1275610492486608896,1027723092389070208,2844618031444976128,out,pix,1805.53,1607244264040,1607244264040.0,completed,1607244264040,2020-12-06 08:44:24.040,102438336,6084,1024140,3042