In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:nubank@127.0.0.1/nubank

In [17]:
%%sql

SELECT mes, account_id, sum(entrada) AS entradas_total, SUM(saida) as saidas_total, (sum(entrada) - SUM(saida)) as balanco
FROM (SELECT account_id, CASE in_or_out WHEN 'pix_out' then pix_amount ELSE 0 END as SAIDA, 
CASE in_or_out WHEN  'pix_in' then pix_amount ELSE 0 END as ENTRADA, 'PIX' AS tipo,
to_timestamp(CAST(pix_completed_at as numeric)/1000) AS data,
DATE_PART('year', to_timestamp(CAST(pix_completed_at as numeric)/1000)) ANO,
DATE_PART('month', to_timestamp(CAST(pix_completed_at as numeric)/1000)) MES
FROM pix_movements_table
WHERE status = 'completed' 

UNION ALL

SELECT account_id, 0 AS SAIDA, 
amount as ENTRADA, 'ENTRADA' AS tipo, to_timestamp(CAST(transaction_completed_at as numeric)/1000) AS data,
DATE_PART('year', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) ANO,
DATE_PART('month', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) MES
FROM transfer_ins_table
WHERE status = 'completed'

UNION ALL

SELECT account_id, amount as SAIDA, 0 AS ENTRADA, 'SAIDA' AS tipo, to_timestamp(CAST(transaction_completed_at as numeric)/1000) AS data,
DATE_PART('year', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) ANO,
DATE_PART('month', to_timestamp(CAST(transaction_completed_at as numeric)/1000)) MES
FROM transfer_outs_table
WHERE status = 'completed') as transac
GROUP BY mes, account_id
ORDER BY mes
LIMIT 10

 * postgresql://postgres:***@127.0.0.1/nubank
10 rows affected.

[(1.0, 807160825150759808, 6629.719999999999, 4197.26, 2432.459999999999),
 (1.0, 3298364747192051200, 10929.33, 3350.3299999999995, 7579.0),
 (1.0, 2449631801509896704, 3992.39, 1093.24, 2899.1499999999996),
 (1.0, 713734166754053760, 5151.8, 4459.05, 692.75),
 (1.0, 1916487883528890368, 9801.289999999997, 1818.87, 7982.419999999997),
 (1.0, 41053188821172824, 12405.15, 7801.83, 4603.32),
 (1.0, 326313646152664128, 701.67, 1952.44, -1250.77),
 (1.0, 48449219011492936, 3261.34, 3914.52, -653.1799999999998),
 (1.0, 2398205840510124032, 1337.32, 4941.509999999999, -3604.1899999999996),
 (1.0, 1773340765386551808, 6276.670000000001, 12911.85, -6635.179999999999)]